[user]
	name = Eden Cridge
	email = eden.cridge@gmail.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	abbrev = 8
[alias]
	ad = add
	br = branch
	ca = commit --amend
	can = commit --amend --no-edit
	ci = commit
	co = checkout
	ctags = !.git/hooks/ctags
	dc = diff --cached
	df = diff
	ds = diff --stat
	lg = log --pretty=format:'%C(yellow)%h %Creset%s' --abbrev-commit --graph
	lng = log --pretty=format:'%C(yellow)%h %Creset%s%C(bold red)%d%Creset %Cblue(%an, %ar)%Creset' --abbrev-commit --graph
	rb = rebase
	rc = rebase --continue
	ri = rebase --interactive --autostash
	st = status
[merge]
	conflictstyle = zdiff3
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[color "diff"]
	meta = yellow
	frag = blue
	whitespace = green ul
[color "diff-highlight"]
	oldHighlight = ul
	oldReset = noul
[interactive]
	diffFilter = diff-highlight
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[includeIf "gitdir:~/Developer/mollybet/"]
	path = ~/.gitconfig_molly
[pull]
	rebase = true
