# General
[submodule "jeospoon"]
	path = .hammerspoon/jeospoon
	url = https://github.com/joecridge/jeospoon.git
[submodule "private"]
	path = private
	url = git@github.com:joecridge/private.git

# Vim
[submodule "vim/solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/joecridge/vim-colors-solarized.git
