# This is the .gitignore for my dotfiles repo. For global .gitignore settings,
# see ~/.globalgitignore.

# Default to ignoring everything.
*

# Explicitly track these files.
!README.md
!private
!.bash_profile
!.bashrc
!.bowman.bash
!.dircolors
!.eslintrc.yml
!.git-prompt.sh
!.gitconfig
!.gitignore
!.gitmodules
!.globalgitignore
!.globalhgignore
!.hgrc
!.hyper.js
!.inputrc
!.mdstyle
!.profile
!.vimrc
!.vintrc.yaml
!.yamllint


# Track Bash and Ruby scripts under src.
#
# Both the directory and its contents have to be specified in order for the
# default ignore above to be overridden. Note that this overrides anything in
# .globalgitignore, so that (for instance) adding the pattern !src/* will cause
# Git to track src/.blah.sh.swp, src/.DS_Store and the like.
!src/
!src/**/*.c
!src/**/*.h
!src/*.pl
!src/*.py
!src/*.rb
!src/*.sh


# Track everything from the resources folder.
!resources
!resources/**


# Track select files from ~/.config.
!.config
!.config/nvim/
!.config/nvim/*.vim


# Track everything in ~/.nvim and ~/.vim. These are mostly submodules.
!.nvim/
!.nvim/**
!.vim/
!.vim/**
.nvim/spell/en.utf-8.spl
.nvim/spell/en.utf-8.sug
.vim/.netrwhist


# Track Hammerspoon settings.
!.hammerspoon/
!.hammerspoon/*.lua
!.hammerspoon/jeospoon
