[user]
	name = Joe Cridge
	email = joe.cridge@me.com
	signingkey = DD659648
[core]
	autocrlf = true
	excludesfile = ~/.globalgitignore
	attributesfile = ~/.globalgitattributes
[color]
	ui = true
[format]
	pretty = medium
[alias]
	lng = log --pretty=format:'%C(yellow)%h %Creset%s%C(bold red)%d%Creset %Cblue(%an, %ar)%Creset' --abbrev-commit --graph
	lg = log --pretty=format:'%C(yellow)%h %Creset%s' --abbrev-commit --graph
	st = status
	co = checkout
	br = branch
	ci = commit
	ad = add
	dt = difftool
	df = diff
	cp = cherry-pick
	psuh = push
	puhs = push
	stat = shortlog -sne
	ar = archive
[diff]
	tool = bc
	compactionHeuristic = true
	submodule = log
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[difftool]
	prompt = false
[merge]
	tool = bc
	conflictstyle = diff3
[mergetool]
	prompt = false
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.mail.me.com
	smtpuser = joe.cridge@me.com
	smtpserverport = 587
	confirm = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[color "diff"]
	meta = yellow
	frag = blue
	whitespace = green ul
[color "diff-highlight"]
	oldHighlight = ul
	oldReset = noul
[interactive]
	diffFilter = diff-highlight
