[user]
	name = Joe Cridge
	email = joe.cridge@me.com
	signingkey = DD659648
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.globalgitignore
[color]
	ui = true
[format]
	pretty = medium
[alias]
	lng = log --pretty=format:'%C(yellow)%h %Creset%s%C(bold red)%d%Creset %Cblue(%an, %ar)%Creset' --abbrev-commit --graph
	lg = log --pretty=format:'%C(yellow)%h %Creset%s' --abbrev-commit --graph
	st = status
	co = checkout
	br = branch
	ci = commit
	ad = add
	dt = difftool
	df = diff
	mt = mergetool
	cp = cherry-pick
	psuh = push
	puhs = push
	stat = shortlog -sne
	ar = archive
[diff]
	tool = idea
	indentHeuristic = true
	submodule = log
[difftool]
	prompt = false
	trustExitCode = true
[difftool "idea"]
	cmd = idea diff \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[merge]
	tool = idea
	conflictstyle = diff3
[mergetool "idea"]
	cmd = idea merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.mail.me.com
	smtpuser = joe.cridge@me.com
	smtpserverport = 587
	confirm = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[color "diff"]
	meta = yellow
	frag = blue
	whitespace = green ul
[color "diff-highlight"]
	oldHighlight = ul
	oldReset = noul
[interactive]
	diffFilter = diff-highlight
