# This is the .gitignore for my dotfiles repo
# For global .gitignore settings see ~/.globalgitignore
*
!\.bash_profile
!\.bashrc
!\.config
!\.config/git
!\.config/git/ignore
!\.duti
!\.git-prompt.sh
!\.gitconfig
!\.gitignore
!\.globalgitignore
!\.inputrc
!\.nanorc
!\.profile
!\.vimrc
!\src
!\src/*
\src/*.swp
