# This is the .gitignore for my dotfiles repo.
# For global .gitignore settings see ~/.globalgitignore.
*
!\.bash_profile
!\.bashrc
!\.eslintrc\.yml
!\.git-prompt\.sh
!\.gitconfig
!\.gitignore
!\.globalgitignore
!\.hhighlight\.sh
!\.inputrc
!\.mdstyle
!\.nanorc
!\.profile
!\.vimrc
!\.yamllint
!\src
!\src/*
\src/*\.sw[a-p]
