##
# General Settings
##

# Enable Vi mode.
set editing-mode vi

# Set command line completion options.
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

# Colour tab completions like `ls` output.
set colored-stats on


##
# Normal Mode
##

set keymap vi-command

# Make up and down arrows recall commands that have the same beginning.
"\e[A": history-search-backward
"\e[B": history-search-forward


##
# Insert Mode
##

set keymap vi-insert

# Restore emacs chords.
"\C-a": "\eI"
"\C-e": "\eA"
"\C-k": "\eC"

# Use ‘…’ to enter the arguments from the previous command.
"…": " !!*\r"

# Make up and down arrows recall commands that have the same beginning.
"\e[A": history-search-backward
"\e[B": history-search-forward

# Press tab once to list all completions and select the first one; press tab
# again to cycle through available completions. Cycle backwards with shift-tab.
TAB: menu-complete
"\e[Z": menu-complete-backward
