set editing-mode vi
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

##
# Command mode keymaps
##

set keymap vi-command

# Swap h and l
"l": "\e[D"
"h": "\e[C"

# Make up and down arrows recall commands with the same beginning.
"\e[A": history-search-backward
"\e[B": history-search-forward

##
# Insert mode keymaps
##

set keymap vi-insert

# Restore emacs chords in insert mode
"\C-a": "\eI"
"\C-e": "\eA"
"\C-k": "\eC"

# Use `…' to insert the arguments from the last command.
"…": " !!*\r"

# Enable history search in insert mode too.
"\e[A": history-search-backward
"\e[B": history-search-forward

# Pressing tab will list all completions and select the first one; pressing it
# again will cycle through available completions. Cycle backwards by holding
# shift as well.
TAB: menu-complete
"\e[Z": menu-complete-backward
